* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	height: 404px;
	max-width: 904px;
	border: 1px solid blue;
	margin: auto;
	margin-top: 100px;
	display: flex;
	/* flex-direction: column;
	flex-wrap: wrap; */
	flex-flow: row wrap;
	/* justify-content: center; */
	/* align-items: flex-end; */
	/* align-content: space-between; */
}

.child {
	height: 100px;
	width: 250px;
	border: 1px solid yellow;
	background-color: pink;
	/* flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto; */

	flex: 1 1 auto;

}

.child2 {
	/* flex-grow: 3; */
	align-self: center;
}

.child3 {
	align-self: flex-end;
}